# Strings
<a href="https://colab.research.google.com/github/rambasnet/FDSPython-Notebooks/blob/master/Ch06-Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- http://openbookproject.net/thinkcs/python/english3e/strings.html

## Topics
- learn in-depth about string data types
- methods provided in string objects/data
- operators and various operations
- ways to traverse/step through characters in string

## Introduction
- strings are text data; not numeric!
- breifely covered string while covering data and types in an earlier chapter
- unlike numbers, strings are compound data type; sequence of characters
    - can also work with string as a single thing
- string variables are objects with their own attributes and methods
- help(str) to see all the methods
- commonly used methods: `upper(), lower(), swapcase(), capitalize(), endswith(), isdigit(), find(), center(), count(), split()`, etc.

## String methods and operations
- string objects/data come with dozens of methods you can invoke

In [ ]:
# let's see built-in documentation on str
help(str)

In [5]:
# let's use some of the methods provided for string objects/data
ss = "Hello there beautiful World!"
tt = ss.upper()
print(tt)

HELLO THERE BEAUTIFUL WORLD!

In [6]:
print(ss)

Hello there beautiful World!

In [7]:
print(tt.capitalize())

Hello there beautiful world!

In [8]:
alist = tt.split()
print(alist)
print(alist[0])

['HELLO', 'THERE', 'BEAUTIFUL', 'WORLD!']
HELLO

In [10]:
alist = tt.split('E')
print(alist)

['H', 'LLO TH', 'R', ' B', 'AUTIFUL WORLD!']

In [13]:
read_line = "1,2,4,5,6,7"
numbers = read_line.split(',')
numbers = map(int, numbers)
print(list(numbers))

[1, 2, 4, 5, 6, 7]

In [17]:
# examples of some methods
ss.count('ll')

1

In [18]:
print(ss.swapcase())

hELLO THERE BEAUTIFUL wORLD!

## Operators on string
- `*` and `+` operators work on string data type as well
- `+` : concatenates
- `*` : repeats/multiplies

In [19]:
a = "ABC"

In [20]:
a = a + "D" + "E " + "F " + "1 " + "2" + a

In [21]:
print(a)

ABCDE F 1 2ABC

In [ ]:
"="*100

In [ ]:
gene = "AGT"*10
print(gene)

In [ ]:
print("hello world!"*10)

## working with parts of a string
- string can be sliced using [ index ] or [ inclStartIndex : ExclEndIndex : step] bracket operator
- negative indices are allowed
- len( ) built-in function gives the length of a string

In [1]:
# examples
s = "Pirates of the Caribbean"

In [31]:
s = "Corin"

In [32]:
print(len(s))

5

In [33]:
# access the first character
s[0]

'C'

In [34]:
# access the second character
s[1]

'o'

In [35]:
# access the last character
s[len(s)-1]

'n'

In [36]:
# access the last chacter using a negative index
s[-1]

'n'

In [40]:
s[-5]

'C'

In [47]:
print(s)
print(s[:])
print(s[::])
# no arguments specified, so defaults to s[0:len(s)-1:1]
print(s[0:len(s):1])

Pirates of the Caribbean
Pirates of the Caribbean
Pirates of the Caribbean
Pirates of the Caribbean

In [ ]:
s[1:]

In [51]:
# print just the pirates 
print(s[7:0:-2])

 eai

In [ ]:
s[-1]
len(s)
s[-24]

In [55]:
print(s[:-1])
reverse_s = s[::-1]
print(reverse_s)

Pirates of the Caribbea
naebbiraC eht fo setariP

In [56]:
s = 'racecar'
isPalindrome = (s == s[::-1]) 
print(isPalindrome)

True

In [58]:
# print "the" from string s
s = 'Pirates of the Caribbean the'
theIndex = s.find("the")
print('the starts at', theIndex)
theNext = theIndex = s.find("the", theIndex+1)
print('next the starts at', theNext)
print(s[theIndex:theIndex+3])

the starts at 11
next the starts at 25
the

In [60]:
if(s.find('The') == -1):
    print('"The" is not in the string')

"The" is not in the string

In [61]:
if('The' not in s):
    print('"The" is not in the string')

"The" is not in the string

In [ ]:
# TODO
# print Caribbean from string s - hint use find function
print(s.find('Caribbean'))
# print if Mel Gibson is in Pirates of the Carribean
print(s.find('Mel Gibson'))

In [ ]:
lastSpace = s.rfind('the')
print(lastSpace)

In [ ]:
# print the last character
print(s[-1])

In [ ]:
# print string in reverse order
reversedS = s[-1::-1]

In [ ]:
ss = "Pirates of the Caribbean."
print(ss[len(ss)-1])

In [ ]:
# test whether a given string is palindrome
a= "racecar"
print ('palindrome') if a==a[::-1] else print('not palindrome')

### string is immutable
- string objects/variables can't be modified in place
- you must reassign or make a copy to update strings

In [2]:
a = 'hello'

In [3]:
a = "Hello"

TypeError: 'str' object does not support item assignment

In [ ]:
a[0] = 'H'

In [ ]:
a = a.capitalize()
print(a)

## Length of a string

- `len(str)` gives length/no. of characters in a string

In [ ]:
# find length of string stored in variable a
len(a)

## string traversal 
- it's a common practice to go through every character of a given string
- can use both for and while loop to traverse a string

In [ ]:
# example using for loop
# traversing string using index
for i in range(len(s)):
    print(s[i], end=' ')

In [ ]:
# range-based loop traversing each character
for c in s:
    print(c, end=' ')

In [ ]:
someStr = """afAdf@#456'"""

In [ ]:
# example using while loop
i = 0
while i < len(someStr):
    print(someStr[i], end=' ')
    i += 1

## string comparison
- strings can be compared using comparison operators
- comparison operators are `==, !=, <=, >=, <, >`
- compares lexicographically using ASCII values
    - see [ASCII table](http://www.asciitable.com/) for values
- `ord('c')` provides ASCII value of the given character
- two strings are compared character by character in corresponding positions

In [4]:
# find ascii values of lower a and upper A
print(ord('A'), ord('a'))

65 97

In [6]:
# string comparison examples
print("apple" <= "Apple")

False

In [9]:
print("apple" >= "Ball")

True

In [ ]:
# greater and less than returns True if first two corresponding
#characters have valid order
print("apple" >= "Apple")

In [ ]:
# since A is <= a; result is True
# eventhough b is not less than B or c
print('Abc' <= 'aBC')

In [ ]:
# for equality all characters have to match
print("apple" == "Apple") # false

In [ ]:
# for inequalify any one pair of unmatched characters will do
print('apple' != 'applE')

## substring memberships
- in and not in operators can be used to check if substring appears in a string
- help quickly test for membership

In [ ]:
print("p" in "apple")

In [ ]:
print("pe" in "apple")

In [ ]:
print("aple" not in "apple")

## cleaning up strings
- often times working with strings involve removing punctuations and unwanted characters
- traverse the string by removing any encountered punctations

In [ ]:
# create a new string removing punctuations from the following string
ss = '"Well, I never did!", said Alice.'
print(ss)

In [ ]:
# one solution is to use ASCII value of each character between A..Z and a..z
print(ord('a'), ord('z'), ord('A'), ord('Z'))

In [ ]:
newStr = ''
for c in ss:
    if ord(c) == ord(' '): # keep space
        newStr += c
    elif ord(c) >= ord('A') and ord(c) <= ord('Z'):
        newStr += c
    elif ord(c) >= ord('a') and ord(c) <= ord('z'):
        newStr += c
print(newStr)

In [ ]:
# convert newStr to lowercase for case insensitive operations
newStr1 = newStr.lower()
print(newStr1)

In [ ]:
# convert sentence into list of tokens/terms/words
words = newStr1.split()
print(words)

In [ ]:
# traverse through list of words
for w in words:
    print(w)

In [ ]:
# next solution using string library
# string library provides range of different types of characters as data
import string
help(string)

In [ ]:
# string library has data that can be useful, e.g.
string.punctuation

In [ ]:
ss

In [ ]:
newStr = ''
for c in ss:
    if c in string.ascii_lowercase:
        newStr += c
    elif c in string.ascii_uppercase:
        newStr += c
    elif c == ' ':
        newStr += ' '
        
print(newStr)

In [ ]:
# write a function that removes all the punctations except for space
# returns new cleaned up string
def cleanUp(someStr):
    newStr = ''
    for c in someStr:
        if c.islower():
            newStr += c
        elif c.isupper():
            newStr += c
        elif c.isspace():
            newStr += c
    return newStr

In [ ]:
s = cleanUp(ss)
print(s)

## string formatting
- use format method provided in str object
- use `{}` as replacement field
- numbers in curly braces are optional; determine the argument to substitute with
- each of the replacement fiels can also contain a format specification
    - `<`: left alignment, 
    - `>`: right alignment
    - `^`: center, 
        - e.g. {1:<10}: left align arg #1 in a 10-character width
    - type conversion such as f for float (.2f two decimal places), x for hex, etc. can also be used

In [ ]:
name = "Corin"
age = 25

In [ ]:
s1 = "His name is {}!".format(name)
print(s1)

In [ ]:
# newer syntax
print(f"His name is {name}!")

In [ ]:
# note age and name are provided in reverse order
print("His name is {1} and {0} is {1} years old.".format(age, name))

In [ ]:
n1 = 4
n2 = 5.5
s3 = "{0} x {1} = {2} and {0} ^ {1} = {3:.2f}".format(n1, n2, n1*n2, n1**n2)
print(s3)

In [ ]:
# formating decimal/float values to certian decimal points
print("Pi to three decimal places is {0:.2f}".format(3.1415926))

In [ ]:
n1 = "Paris"
n2 = "Whitney"
n3 = "Hilton"
print("123456789 123456789 123456789 123456789 123456789 123456789")
print("|||{0:<15}|||{1:^15}|||{2:>15}|||Born in {3}|||"
        .format(n1,n2,n3,1981))

In [ ]:
# formatting decimal int to hexadecimal number
print("The decimal value {0} converts to hex value 0x{0:x}".format(16))

In [ ]:
# formatting decimal int to binary number
print("The decimal value {0} converts to binary value 0b{0:b}".format(8))

In [ ]:
# formatting decimal int to octal number
print("The decimal value {0} converts to octal value 0o{0:o}".format(8))

In [ ]:
letter = """
Dear {0} {2}.
 {0}, I have an interesting money-making proposition for you!
 If you deposit $10 million into my bank account, I can
 double your money ...
"""
print(letter.format("Paris", "Whitney", "Hilton"))
print(letter.format("Bill", "Warren", "Jeff"))

In [ ]:
layout = "{0:>4}{1:>6}{2:>6}{3:>8}{4:>13}{5:>24}"
print(layout)

print(layout.format("i", "i**2", "i**3", "i**5", "i**10", "i**20"))
for i in range(1, 11):
    print(layout.format(i, i**2, i**3, i**5, i**10, i**20))

## Exercises

1. print a neat looking multiplication table like this:
<pre>
        1   2   3   4   5   6   7   8   9  10  11  12
  :--------------------------------------------------
 1:     1   2   3   4   5   6   7   8   9  10  11  12
 2:     2   4   6   8  10  12  14  16  18  20  22  24
 3:     3   6   9  12  15  18  21  24  27  30  33  36
 4:     4   8  12  16  20  24  28  32  36  40  44  48
 5:     5  10  15  20  25  30  35  40  45  50  55  60
 6:     6  12  18  24  30  36  42  48  54  60  66  72
 7:     7  14  21  28  35  42  49  56  63  70  77  84
 8:     8  16  24  32  40  48  56  64  72  80  88  96
 9:     9  18  27  36  45  54  63  72  81  90  99 108
10:    10  20  30  40  50  60  70  80  90 100 110 120
11:    11  22  33  44  55  66  77  88  99 110 121 132
12:    12  24  36  48  60  72  84  96 108 120 132 144
</pre>

2. Write a program that determines whether a given string is palindrome. Palindrome is a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run or race car.

2.1 Convert Exercise 2 into a function and write at least two test cases.

3. Write a program that calculates number of trials required to guess a 3 digit pass code 777 (starting from 000, 001, 002, 003, 004, 005..., 010, etc.) using some brute force technique.

3.1. Convert Exercise 3 into a function and write at least 3 test cases.

4. Write a function that calculates the [run-length encoding](https://en.wikipedia.org/wiki/Run-length_encoding) of a given string. Run-length is a lossless data compression in which runs of data are stored as a single data value and count, rather than the original run. Assume that the data contains alphabets (upper and lowercase) only and are case insisitive.
E.g.: 
    - aaaabbc -> 4a2b1c
    - Abcd -> 1a1b1c1d

In [ ]:
# 4 solution
# Algorithm:
# for each character:
#   if the current character is same as the previous one
#        increment count
#   else 
#        print the count and the previous character
#        reset count and previous character
#   

def run_length_encoding(text):
    # check for corner case
    if not text: # if text is empty!
        return ''
    
    encoding = ''
    # FIXME: implement the algorithm
    
    
    return encoding

In [ ]:
# unit testing for run_length_encoding
assert run_length_encoding('') == ''
assert run_length_encoding('aaaabbc') == '4a2b1c'
assert run_length_encoding('abcd') == '1a2b3c4d'
assert run_length_encoding('zzaazyyyYY') == '2z2a1z5y'
# FIXME: Write few more test cases; what corner cases can you think of 
# that would break run_length_encoding function?

5. Write a function that decodes the given run-length encoded compressed data, i.e. decompresses the compressed data to the original string.
e.g. 
    - '' -> ''
    - '1a2b3c' -> 'abbccc'
    - '10a' -> 'aaaaaaaaaa'

## Kattis problems

1. Avion - https://open.kattis.com/problems/avion
2. Apaxiaans - https://open.kattis.com/problems/apaxiaaans
3. Hissing Microphone - https://open.kattis.com/problems/hissingmicrophone
4. Reversed Binary Numbers - https://open.kattis.com/problems/reversebinary
5. Kemija - https://open.kattis.com/problems/kemija08
6. Simon Says - https://open.kattis.com/problems/simonsays
7. Simon Says - https://open.kattis.com/problems/simon
8. Quite a Problem - https://open.kattis.com/problems/quiteaproblem
9. Eligibility - https://open.kattis.com/problems/eligibility
10. Charting Progress - https://open.kattis.com/problems/chartingprogress
11. Pig Latin - https://open.kattis.com/problems/piglatin
12. Battle Simulation - https://open.kattis.com/problems/battlesimulation
13. Palindromic Password - https://open.kattis.com/problems/palindromicpassword
14. Image Decoding - https://open.kattis.com/problems/imagedecoding
15. Viðsnúningur - [https://open.kattis.com/problems/vidsnuningur](https://open.kattis.com/problems/vidsnuningur)